    .pre-scrollable {
        overflow-y: auto;
    }
    
    #style-5::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    
    #style-5::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    
    #style-5::-webkit-scrollbar-thumb {
        background-color: #023663;
    }
    
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    
    body::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: #ccc;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    }
    
    body {
        font-family: 'Alegreya Sans', sans-serif;
        background-color: #f5f5f5;
    }
    
    .btn,
    .navbar-default,
    .navbar-default .navbar-header .navbar-brand,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Alegreya Sans', sans-serif;
    }
    
    a:hover,
    a:focus {
        text-decoration: none;
    }
    
    p {
        font-size: 18px;
    }
    
    .txt-center {
        text-align: center;
    }
    
    .modal-header {
        text-transform: uppercase;
        background-color: #083a83;
        color: white;
    }
    
    .close {
        color: #fff;
    }
    
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    #signOut,
    #login,
    #myFiles {
        display: none;
    }
    
    .sub-heading {
        color: #023663;
        font-weight: 600;
        font-size: 18px;
    }
    
    .fa-flip-horizontal {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=118deg, mirror=1)";
        -webkit-transform: rotate(118deg)scale(-1, 1);
        -ms-transform: rotate(118deg)scale(-1, 1);
        transform: rotate(118deg)scale(-1, 1);
    }
    
    #top-bar {
        font-size: 16px;
        height: 36px;
        overflow: hidden;
        line-height: 36px;
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
    }
    
    .space {
        padding-right: 27px;
    }
    
    .bg-top {
        background-color: #333;
    }
    
    .dark {
        color: #fff;
    }
    /* Background images are set within the HTML using inline CSS, not here */
    
    carousel h3 {
        display: inline-block;
        padding: 10px;
        background: #B9121B;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .about-carousel>.carousel-inner>.item {
        max-height: 390px;
    }
    
    .carousel .text1>h3 {
        color: #e2e1e1;
    }
    
    .carousel .text2>h3 {
        color: #f6e6ca;
    }
    
    .carousel .text3>h3 {
        color: #ffffa9;
    }
    
    .carousel .text4>h3 {
        color: #f8c68b;
    }
    
    .carousel .text5>h3 {
        color: #f0f1d7;
    }
    
    .full-screen {
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .carousel-caption {
        position: absolute;
        z-index: 10;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        text-transform: inherit;
    }
    
    .text1 {
        left: 3%;
        text-align: left;
    }
    
    .text2 {
        top: 3%;
        text-align: center;
    }
    
    .text3 {
        text-align: left;
        top: 25%;
        left: 9%;
        word-wrap: break-word;
    }
    
    .text4 {
        text-align: center;
    }
    
    .text5 {
        left: -21%;
        top: 18%;
    }
    
    .carousel-caption h3 {
        font-size: 54px;
        word-wrap: break-word;
        font-weight: 700;
    }
    
    .navbar {
        color: #023663;
        top: 36px;
        margin-bottom: 0px;
        border: 0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
    }
    
    @media (min-width: 768px) {
        .navbar-default .navbar-header .navbar-brand {
            color: rgba(255, 255, 255, 1);
        }
        .navbar-default .nav>li>a,
        .navbar-default .nav>li>a:focus {
            color: rgba(255, 255, 255, 1);
        }
    }
    
    .navbar-brand {
        padding: 0px;
    }
    
    .navbar-brand>span>img {
        height: 100%;
        padding: 6px;
        width: auto;
    }
    
    .navbar-brand>span {
        padding: 6px;
    }
    
    .bg-dark,
    #contact {
        background-color: #333;
        color: #fff;
    }
    
    #contact {
        padding: 12px 0;
    }
    
    #contact hr {
        border-color: #fff;
        margin: 3px auto;
    }
    
    h4 {
        text-align: center;
        letter-spacing: 3px;
    }
    
    .btn {
        border: 1px solid #083a83;
    }
    
    section {
        padding: 54px 0px;
    }
    
    .btn-sm {
        margin: 6px;
    }
    
    .no-padding {
        padding: 0px;
    }
    
    .d1 {
        background-color: #fff;
        padding: 27px;
        border-radius: 6px;
        color: #555;
    }
    
    hr {
        border-color: #083a83;
        border-width: 6px;
        max-width: 50px;
    }
    
    #services {
        background-color: #023663;
        color: #fff;
    }
    
    #services hr {
        border-color: #fff;
    }
    
    #services .text-primary {
        color: #fff !important;
    }
    
    #services a,
    #services a :hover,
    #services a:focus,
    #services a:visited {
        color: #fff !important;
    }
    
    #services .fa {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        transition-timing-function: ease;
    }
    
    i>span {
        font-family: 'Alegreya Sans', sans-serif !important;
        font-size: 18px;
    }
    
    #services a:hover {
        color: #fff !important;
        font-size: 2rem;
    }
    
    .sr-button {
        max-width: 153px;
        margin-top: 9px;
        border: 1px solid #fff;
    }
    
    .sr-button:hover {
        color: #f5f5f5;
    }
    
    .list {
        font-size: 18px;
        list-style-type: square;
        line-height: 45px;
    }
    
    .card-heading {
        background-color: #083a83;
        display: flex;
        height: 325px;
        justify-content: center;
        align-items: center;
        color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
    }
    
    .list-cards {
        margin-bottom: 0px;
        display: flex;
        border: 0;
        background-color: #fff;
    }
    
    .list-cards:hover:after {
        width: 100%;
    }
    
    .list-cards:after {
        content: '';
        display: block;
        background-color: #d8261c;
        height: 3px;
        width: 0;
        position: absolute;
        bottom: 0;
        -moz-transition: S ease-out 250ms;
        -o-transition: ease-out 250ms;
        -webkit-transition: ease-out 250ms;
        transition: ease-out 250ms;
    }
    
    input[type="file"] {
        display: block;
        margin: 0;
        width: 100%;
        font-size: 18px;
        box-shadow: none;
        border-radius: none;
    }
    
    @media (max-width:768px) {
        #top-bar {
            padding: 4px;
            font-size: 14px;
        }
        .carousel-inner>.item>img {
            width: 100%;
            height: 360px;
        }
        .container-fluid {
            padding-right: 6px;
            padding-left: 6px;
        }
        .card-heading {
            height: auto;
        }
        .navbar-default.affix {
            background-color: #fff;
            border-color: rgba(34, 34, 34, .05);
            top: 0px;
        }
        .text1,
        .text2,
        .text3,
        .text4,
        .text5 {
            text-align: center !important;
            left: 15%;
            right: 15%;
        }
        .carousel-caption h3 {
            font-size: 27px;
            word-wrap: break-word;
            font-weight: 700;
        }
    }
    
    @media (min-width:768px) {
        .navbar-default.affix {
            background-color: #fff;
            border-color: rgba(34, 34, 34, .05);
            top: 0px;
        }
        .flex-layout {
            display: flex;
            align-items: center;
        }
    }
    
    @media (max-width:980px) {
        p {
            font-size: 16px;
        }
    }
    
    @media(max-width:768px) {
        .medium,
        .medium>p {
            text-align: center;
        }
        .row {
            margin: 6px
        }
    }
    
    .carousel-fade .carousel-inner .item {
        opacity: 0;
        transition-property: opacity;
    }
    
    .carousel-fade .carousel-inner .active {
        opacity: 1;
    }
    
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }
    
    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }
    
    .carousel-fade .carousel-control {
        z-index: 2;
    }
    
    @media all and (transform-3d),
    (-webkit-transform-3d) {
        .carousel-fade .carousel-inner>.item.next,
        .carousel-fade .carousel-inner>.item.active.right {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        .carousel-fade .carousel-inner>.item.prev,
        .carousel-fade .carousel-inner>.item.active.left {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        .carousel-fade .carousel-inner>.item.next.left,
        .carousel-fade .carousel-inner>.item.prev.right,
        .carousel-fade .carousel-inner>.item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }