#file>.container>.row {
    margin-top: 12px;
}

.add-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filebtn {
    border-radius: 0px;
    height: 54px;
    background-color: #093145;
    color: #fff;
    font-size: 21px;
    margin-bottom: 18px;
    width: 100%;
}

#texthint {
    display: none;
}

#file {
    background: #fafafb;
}

.selectbtn {
    border-radius: 0px;
    height: 45px;
    font-size: 21px;
    color: #023663;
    margin-bottom: 27px;
    display: none;
    width: 100%;
}

.select-folder,
#txtFolderName {
    border-radius: 0px;
    height: 45px;
    font-size: 21px;
    color: #023663;
    margin-bottom: 27px;
    width: 100%;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #dcdcdc;
}

input[type="file"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    visibility: hidden;
}

.list-group-item a {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 3px;
}

.list-group-item .fa {
    color: black;
}

.list-group-item p {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
}

#progress-part {
    display: none;
}

.progress-bar {
    background-color: #023663;
}

.jumbotron {
    background-color: #fff;
}

.jumbotron>h3 {
    text-align: center;
}

.panel-title {
    text-transform: uppercase;
}

.alertmsg {
    background-color: red;
    color: white;
}