ul {
    list-style: square;
    text-align: left;
    font-size: 18px;
}

.heading {
    display: flex;
    align-items: center;
}

.heading>i {
    margin-left: 6px;
}


/* Image */

.image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0;
    display: block;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}


/* Feature */

.feature {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 6em;
}

.feature:last-child {
    margin-bottom: 2em;
}

.feature.left {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.feature.right {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.feature .image {
    width: 45%
}

.feature .image img {
    max-width: 100%;
    padding: 12px;
}

.feature .content {
    padding: 2em 3em 0.1em 3em;
    width: 52%;
}

@media screen and (max-width: 1280px) {
    .feature {
        margin-bottom: 4em;
    }
    .feature .content {
        padding: 1em 2em 0.1em 2em;
    }
}

@media screen and (max-width: 980px) {
    .feature.left,
    .feature.right {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .feature .image {
        width: 100%;
    }
    .feature .image img {
        width: 100%;
    }
    .feature .content {
        padding: 2em 2em 0.1em 2em;
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .feature {
        margin-bottom: 2em;
    }
    .feature .content {
        padding: 2em 1em 0.1em 1em;
    }
}

.feature {
    background-color: rgba(144, 144, 144, 0.075);
}


/* Wrapper */

.wrapper {
    padding: 8em 0 6em 0;
    position: relative;
}

.wrapper>.inner {
    margin: 0 auto;
    width: 70em;
}

.wrapper.style1 {
    color: #777;
}

.wrapper.style1 input,
.wrapper.style1 select,
.wrapper.style1 textarea {
    color: #555;
}

.wrapper.style1 a {
    color: #51BAA4;
}

.wrapper.style1 strong,
.wrapper.style1 b {
    color: #555;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6 {
    color: #555;
}

.wrapper.style1 blockquote {
    border-left-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style1 code {
    background: #fff;
    border-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style1 hr {
    border-bottom-color: rgba(144, 144, 144, 0.25);
}

.wrapper.style1 header p {
    color: #555;
}

.wrapper.style1 .feature {
    background-color: #fff;
}

.wrapper.style1 label {
    color: #555;
}

.wrapper.style2 {
    background-color: #1E2832;
    color: rgba(255, 255, 255, 0.75);
}

.wrapper.style2 a {
    color: #51BAA4;
}

.wrapper.style2 strong,
.wrapper.style2 b {
    color: #fff;
}

.wrapper.style2 h1,
.wrapper.style2 h2,
.wrapper.style2 h3,
.wrapper.style2 h4,
.wrapper.style2 h5,
.wrapper.style2 h6 {
    color: #fff;
}

.wrapper.style2 blockquote {
    border-left-color: transparent;
}

.wrapper.style2 code {
    background: rgba(255, 255, 255, 0.05);
    border-color: transparent;
}

.wrapper.style2 hr {
    border-bottom-color: transparent;
}

.wrapper.style2 header p {
    color: #fff;
}

.wrapper.style2 .feature {
    background-color: rgba(255, 255, 255, 0.05);
}

.wrapper.style2 label {
    color: #fff;
}

.wrapper.style3 {
    background-color: #1E2832;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed;
    background-image: url("images/overlay.png"), url("../../images/pic11.jpg");
    background-size: cover;
}

.wrapper.style3 a {
    color: #51BAA4;
}

.wrapper.style3 strong,
.wrapper.style3 b {
    color: #fff;
}

.wrapper.style3 h1,
.wrapper.style3 h2,
.wrapper.style3 h3,
.wrapper.style3 h4,
.wrapper.style3 h5,
.wrapper.style3 h6 {
    color: #fff;
}

.wrapper.style3 blockquote {
    border-left-color: transparent;
}

.wrapper.style3 code {
    background: rgba(255, 255, 255, 0.05);
    border-color: transparent;
}

.wrapper.style3 hr {
    border-bottom-color: transparent;
}

.wrapper.style3 header p {
    color: #fff;
}

.wrapper.style3 .feature {
    background-color: rgba(255, 255, 255, 0.05);
}

.wrapper.style3 label {
    color: #fff;
}

@media screen and (max-width: 1280px) {
    .wrapper {
        padding: 6em 0 4em 0;
    }
    .wrapper>.inner {
        width: 65em;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        padding: 5em 3em 3em 3em;
    }
    .wrapper>.inner {
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3em 2em 1em 2em;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 5em 1em 0.1em 1em;
    }
}